
*{ margin: 0;
    padding: 0;
    
}

body{

   background-color: black;
}
@font-face {
    font-family: 'delinda';
    src: url('Delinda Agatha.otf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}
.cabe{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
    border-top: 0.6px solid rgb(230, 234, 241);
    border-bottom: 0.6px solid rgb(230, 234, 241);
    margin-bottom: 5px;
    color: aliceblue;
}
.me{ display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 10px;
    text-align: center;
    align-items: center;
    border-bottom: 0.6px solid rgb(230, 234, 241);
    color: aliceblue;

}
.parteum{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 50px;
    text-align: center;
    color: aliceblue;
}
.partedois{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 50px;
    text-align: center;
    color: aliceblue;
}
.partetres{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 50px;
    text-align: center;
    color: aliceblue;
}
.imagem1{
    width: 250px;
    height: 250px;
    border-style: dotted;
    border-width: 1PX;

}
.frase{
    text-align: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 10px;
    font-size: 700;
    text-shadow: 1px 1px #7148a3;
    color: aliceblue;
}